<a href="https://colab.research.google.com/github/wilaipa/data_viz/blob/main/Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

In [19]:

data_csv = pd.read_csv('3.-41-58.csv', encoding='iso-8859-11') #utf-8 -- latin1
#data_csv.iloc[:10,:]
data_csv.head(10)

  รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ... Unnamed: 66
0  Average Monthly Income Per Household: 1998 - 2015                        ...         NaN
1                                                NaN                        ...         NaN
2                                     ภาค และจังหวัด                        ...         NaN
3                                                NaN                        ...         NaN
4                                                NaN                        ...         NaN
5                                   ทั่วราชอาณาจักร                         ...         NaN
6                                          ตอนพิเศษ                         ...         NaN
7                                     กรุงเทพมหานคร                         ...         NaN
8                                       สมุทรปราการ                         ...         NaN
9                                           นนทบุรี                         ...         NaN

[10 rows x 67 columns]

In [20]:
data_csv = pd.read_csv('3.-41-58.csv', encoding='iso-8859-11',header=3) #utf-8 -- latin1
#data_csv.iloc[:10,:]
data_csv.head(10)

          ภาค และจังหวัด Unnamed: 1  ... Unnamed: 65 Unnamed: 66
0                    NaN        NaN  ...         NaN         NaN
1                    NaN        NaN  ...         NaN         NaN
2       ทั่วราชอาณาจักร         NaN  ...         NaN         NaN
3              ตอนพิเศษ         NaN  ...         NaN         NaN
4         กรุงเทพมหานคร         NaN  ...         NaN         NaN
5           สมุทรปราการ         NaN  ...         NaN         NaN
6               นนทบุรี         NaN  ...         NaN         NaN
7              ปทุมธานี         NaN  ...         NaN         NaN
8               ภาคกลาง         NaN  ...         NaN         NaN
9       พระนครศรีอยุธยา         NaN  ...         NaN         NaN

[10 rows x 67 columns]

In [21]:
data_1 = data_csv.head(10).dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]
data_1

          ภาค และจังหวัด Unnamed: 1  ...      2558             Region and province
2       ทั่วราชอาณาจักร         NaN  ...   26,915                   Whole Kingdom
3              ตอนพิเศษ         NaN  ...   41,002                 Greater Bangkok
4         กรุงเทพมหานคร         NaN  ...   45,572                         Bangkok
5           สมุทรปราการ         NaN  ...   25,457                    Samut Prakan
6               นนทบุรี         NaN  ...   36,884                      Nonthaburi
7              ปทุมธานี         NaN  ...   41,057                    Pathum Thani
8               ภาคกลาง         NaN  ...   26,601                  Central Region
9       พระนครศรีอยุธยา         NaN  ...   28,379        Phra Nakhon Si Ayutthaya

[8 rows x 13 columns]

In [22]:
data_1.dropna(axis=1,subset=[2])

          ภาค และจังหวัด      2541  ...      2558             Region and province
2       ทั่วราชอาณาจักร    12,492   ...   26,915                   Whole Kingdom
3              ตอนพิเศษ    24,929   ...   41,002                 Greater Bangkok
4         กรุงเทพมหานคร    26,054   ...   45,572                         Bangkok
5           สมุทรปราการ    18,100   ...   25,457                    Samut Prakan
6               นนทบุรี    24,211   ...   36,884                      Nonthaburi
7              ปทุมธานี    21,793   ...   41,057                    Pathum Thani
8               ภาคกลาง    12,643   ...   26,601                  Central Region
9       พระนครศรีอยุธยา    12,918   ...   28,379        Phra Nakhon Si Ayutthaya

[8 rows x 12 columns]

In [23]:
data_csv.iloc[50:60,:]

       ภาค และจังหวัด Unnamed: 1  ... Unnamed: 65 Unnamed: 66
50        นครราชสีมา         NaN  ...         NaN         NaN
51         บุรีรัมย์         NaN  ...         NaN         NaN
52          สุรินทร์         NaN  ...         NaN         NaN
53          ศรีสะเกษ         NaN  ...         NaN         NaN
54       อุบลราชธานี         NaN  ...         NaN         NaN
55             ยโสธร         NaN  ...         NaN         NaN
56           ชัยภูมิ         NaN  ...         NaN         NaN
57        อำนาจเจริญ         NaN  ...         NaN         NaN
58            บึงกาฬ         NaN  ...         NaN         NaN
59       หนองบัวลำภู         NaN  ...         NaN         NaN

[10 rows x 67 columns]

In [24]:
data_1 = data_csv.dropna(subset=['ภาค และจังหวัด']).drop(columns=['Unnamed: 1']).iloc[:,:12]
data_1

         ภาค และจังหวัด      2541  ...      2558 Region and province
2      ทั่วราชอาณาจักร    12,492   ...   26,915       Whole Kingdom
3             ตอนพิเศษ    24,929   ...   41,002     Greater Bangkok
4        กรุงเทพมหานคร    26,054   ...   45,572             Bangkok
5          สมุทรปราการ    18,100   ...   25,457        Samut Prakan
6              นนทบุรี    24,211   ...   36,884          Nonthaburi
..                  ...       ...  ...       ...                 ...
82             ปัตตานี    10,737   ...   17,513             Pattani
83                ยะลา     7,560   ...   15,584                Yala
84            นราธิวาส     6,281   ...   19,890          Narathiwat
87               ที่มา:       NaN  ...       NaN                 NaN
88              Source:       NaN  ...       NaN                 NaN

[85 rows x 12 columns]

In [25]:
data_1.iloc[50:60,:]

       ภาค และจังหวัด      2541  ...      2558     Region and province
52          สุรินทร์     6,398   ...   20,315                   Surin
53          ศรีสะเกษ     7,669   ...   18,793               Si Sa Ket
54       อุบลราชธานี    10,267   ...   20,453        Ubon Ratchathani
55             ยโสธร     7,478   ...   19,518                Yasothon
56           ชัยภูมิ     6,220   ...   23,830              Chaiyaphum
57        อำนาจเจริญ     8,139   ...   21,173           Amnat Charoen
58            บึงกาฬ        NaN  ...   23,767                 Bungkan
59       หนองบัวลำภู     8,386   ...   22,553        Nong Bua Lam Phu
60           ขอนแก่น    11,521   ...   21,337               Khon Kaen
61          อุดรธานี     7,744   ...   22,817              Udon Thani

[10 rows x 12 columns]